<div class="todos">
  <form class="todos__control" [formGroup]="todoForm">
    <input [ngClass]="!todoForm.controls['todoText'].valid && todoForm.controls['todoText'].touched ? 'todos__input todos__input--invalid' : 'todos__input'"
          formControlName="todoText" type="text" [(ngModel)]="todoText" name="todoInput" id="todoInput" placeholder="ADD">
    <input [disabled]="!todoForm.valid" type="submit" value="Submit" class="todos__button" (click)="addTodo()">
  </form>

  <section class="todos__container">
    <ul class="todos__list">
      <li class="todos__item" *ngFor="let item of todoList">
          <input type="checkbox" (click)="alterCheck(item.$key, item.isChecked)"
                [ngClass]="item.isChecked ? 'todos__check todos__check--checked' : 'todos__check'"
                [(ngModel)]="item.isChecked" >
          <p class="todos__text">{{item.todoText}}</p>
          <input [routerLink]="['/dashboard/todo', item.$key]" class="todos__button todos__button--info" type="button" value="Info">
          <input class="todos__button todos__button--remove" type="button" value="Remove" (click)="removeTodo(item.$key)">
      </li>
    </ul>
  </section>
</div>

<div *ngIf="!todoList" class="loader">
  <app-spinner></app-spinner>
</div>
