@import '../shared/mixins.scss';
@import '../shared/variables.scss';
@import '../shared/typography.scss';

.todos {

  .alert {
    background: color(border-color);
    padding: 8px;
    font-size: 13px;
    margin-bottom: 20px;
    display: inline-block;
    animation: 1s alertAnim forwards;

    @keyframes alertAnim {
      from {
        opacity: 0;
        transform: translate(-20px);
      }
      to {
        opacity: 1;
        transform: translate(0);
      }
    }
  }

  &__control {
    display: flex;
  }

  &__input {
    padding: 8px;
    border-radius: 5px;
    border: 3px solid color(border-color);
    outline-color: darken(color(border-color), 10);
    color: color(font-color);

    &--invalid {
      border: 2px solid rgba(color(secondary-color), .3);
    }
  }

  &__button {
    padding: 8px;
    font-family: $font-title;
    text-transform: uppercase;
    background: color(principal-color);
    border: 2px solid color(border-color);
    color: color(white);
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
    transition: background .3s ease;
    border-radius: 5px;
    width: 160px;

    &:disabled {
      opacity: 0.5;
    }

    &:hover {
      background: darken(color(principal-color), 20);
    }

    &--remove, &--info {
      width: auto;
      padding: 4px 8px;
      font-size: 14px;
      background: color(secondary-color);
      font-weight: 100;
      cursor: pointer;

      &:hover {
        background: darken(color(secondary-color), 25);
      }
    }

    &--info {
      background: color(principal-color);
      margin-right: 8px;

      &:hover {
        background: darken(color(principal-color), 20);
      }
    }
  }

  &__container {
    margin-top: 16px;
  }

  &__list {

  }

  &__item {
    border-bottom: 2px solid color(border-color);
    display: flex;
    align-items: center;
    padding: 8px 0 8px;
    margin-bottom: 16px;
    cursor: pointer;
  }

  &__check {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 16px;
    background: darken(color(border-color), 5);
    cursor: pointer;

    &--checked {
      background: green;
    }
  }

  &__text {
    font-family: $font-text;
    width: 100%;
  }
}

.loader {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
