.title {
  margin: 0 0 16px;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}

.text {
  text-align: center;
}

.img {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}
